{
  "$schema": "https://json.schemastore.org/web-config",
  "handlers": [
    {
      "name": "iisnode",
      "path": "dist/index.cjs",
      "verb": "*",
      "modules": "iisnode"
    }
  ],
  "rewrite": {
    "rules": [
      {
        "name": "NodeInspector",
        "match": {
          "url": "^dist/index.cjs/debug[/]?"
        }
      },
      {
        "name": "StaticContent",
        "match": {
          "url": "^dist/public/(.*)$"
        },
        "action": {
          "type": "Rewrite",
          "url": "dist/public/{R:1}"
        }
      },
      {
        "name": "DynamicContent",
        "match": {
          "url": ".*"
        },
        "conditions": [
          {
            "input": "{REQUEST_FILENAME}",
            "matchType": "IsFile",
            "negate": true
          }
        ],
        "action": {
          "type": "Rewrite",
          "url": "dist/index.cjs"
        }
      }
    ]
  },
  "iisnode": {
    "nodeProcessCommandLine": "node",
    "watchedFiles": "web.config;*.cjs"
  }
}
